@media screen and (max-height: 1024px) {
    body {
        height: 100vh;
        width: 100vw;
        margin: 0;
        overflow: hidden;
        background-image: url('./images/background_image.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-color: rgba(0, 0, 0, 0.445);
        background-blend-mode: multiply;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: Arial, Helvetica, sans-serif;
        overflow: hidden;
    }
    #application {
        background-image: url('./images/app_background.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        height: 90%;
        width: 70%;
        background-color: rgba(0, 0, 0, 0.151);
        background-blend-mode: multiply;
        box-shadow: 0px 0px 20px black;
        overflow: hidden;
    }

    #screen-top {
        height: 72%;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;    
    }
    #timeAndDay {
        color: white;
        padding-top: 70px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        pointer-events: none;
        user-select: none;
        text-shadow: 0px 0px 15px black;
    }
    #timeAndDay p {
        font-size: 20px;
        text-align: center;
    }
    #hour {
        display: flex;
        align-items: center;
        height: 80px;
    }
    #hour h1 {
        font-size: 80px;
        font-weight: normal;
    }
    #hour p {
        font-size: 30px;
        transform: translateY(15px);
        text-align: center;
    }

    #cityCountry  {
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        user-select: none;
        position: relative;
        background-color: rgba(0, 0, 0, 0.61);
        background-blend-mode: multiply;
        border-radius: 6%;
        padding: 0px 30px;
        overflow: hidden; 
    }
    #cityCountry h1 {
        font-size: 40px;
        font-weight: normal;
        cursor: pointer;
        text-shadow: 0px 0px 15px black;
    }
    #cityCountry p {
        font-size: 23px;
        transform: translateY(-36px);
        text-shadow: 0px 0px 15px black;
    }

    #timeAndDay, #cityCountry {
        transform: translateY(50px);
    }
    #screen-bottom {
        background-blend-mode: multiply;
        background-color: rgba(8, 0, 78, 0.726);
        height: 28%;
        display: flex;
    }
    #currentDayInfo {
        color: white;
        flex: 3;
        display: flex;
        justify-content: center;
        align-items: center;
        pointer-events: none;
        user-select: none;
    }
    #weather img {
        max-width: 130px; /* This ensures the image doesn't exceed its original width */
        width: auto; /* Allow the image to shrink if necessary while maintaining aspect ratio */
    }
    #weather {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-right: 60px;
    }
    #info h3 {

        font-size: 20px;
        background-color: rgb(0, 2, 32);;
        padding: 8px;
        border-radius: 10%;
        text-align: center;
        transform: translateY(50px);

    }
    #info p {
        font-size: 60px;
        font-weight: normal;
        text-align: center;
    }
    .dayCard {
        flex: 1;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        pointer-events: none;
        user-select: none;
    }
    .dayCard h3 {
        font-size: 15px;
        background-color: rgb(0, 2, 32);;
        padding: 8px;
        border-radius: 10%;
        text-align: center;
    }
    .dayCard img {
        height: 70px;
    }
    .dayCard p {
        font-size: 30px;
        display: inline;
    }
    .lowestTemp {
        color: rgba(177, 223, 253, 0.856);
        margin-left: 20px;
    }
    #clickableIcon img{
        height: 60px;
    }
    #searcherInput {
        transform: translateY(-36px);
        background: none;
        background-color: rgba(224, 74, 5, 0.479);
        color: white;
        outline: none;
        font-size: 20px;
        position: relative;
        width: 200px;
        padding: 7px;
        border-radius: 5%;
        text-align: center;
    }
    #searcherInput::placeholder {
        color: rgb(255, 255, 255)
    }
    #weatherValue {
        text-align: center;
        font-weight: bold;
    }
}



@media screen and (max-height: 963px) {
    body {
        height: 100vh;
        width: 100vw;
        margin: 0;
        overflow: hidden;
        background-image: url('./images/background_image.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-color: rgba(0, 0, 0, 0.445);
        background-blend-mode: multiply;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: Arial, Helvetica, sans-serif;
        overflow: hidden;
    }
    #application {
        background-image: url('./images/app_background.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        height: 90%;
        width: 70%;
        background-color: rgba(0, 0, 0, 0.151);
        background-blend-mode: multiply;
        box-shadow: 0px 0px 20px black;
        overflow: hidden;
    }

    #screen-top {
        height: 65%;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;    
    }
    #timeAndDay {
        color: white;
        padding-top: 70px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        pointer-events: none;
        user-select: none;
        text-shadow: 0px 0px 15px black;
    }
    #timeAndDay p {
        font-size: 20px;
        text-align: center;
    }
    #hour {
        display: flex;
        align-items: center;
        height: 80px;
    }
    #hour h1 {
        font-size: 80px;
        font-weight: normal;
    }
    #hour p {
        font-size: 30px;
        transform: translateY(15px);
        text-align: center;
    }

    #cityCountry  {
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        user-select: none;
        position: relative;
        background-color: rgba(0, 0, 0, 0.61);
        background-blend-mode: multiply;
        border-radius: 6%;
        padding: 0px 30px;
        overflow: hidden; 
    }
    #cityCountry h1 {
        font-size: 40px;
        font-weight: normal;
        cursor: pointer;
        text-shadow: 0px 0px 15px black;
    }
    #cityCountry p {
        font-size: 23px;
        transform: translateY(-36px);
        text-shadow: 0px 0px 15px black;
    }

    #timeAndDay, #cityCountry {
        transform: translateY(30px);
    }
    #screen-middle {
        height: 35%;
    }
    #screen-bottom {
        background-blend-mode: multiply;
        background-color: rgba(8, 0, 78, 0.726);
        height: 35%;
        display: flex;
    }
    #currentDayInfo {
        color: white;
        flex: 3;
        display: flex;
        justify-content: center;
        align-items: center;
        pointer-events: none;
        user-select: none;
    }
    #weather img {
        max-width: 130px; /* This ensures the image doesn't exceed its original width */
        width: auto; /* Allow the image to shrink if necessary while maintaining aspect ratio */
    }
    #weather {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-right: 60px;
    }
    #info h3 {

        font-size: 20px;
        background-color: rgb(0, 2, 32);;
        padding: 8px;
        border-radius: 10%;
        text-align: center;
        transform: translateY(50px);

    }
    #info p {
        font-size: 60px;
        font-weight: normal;
        text-align: center;
    }
    .dayCard {
        flex: 1;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        pointer-events: none;
        user-select: none;
    }
    .dayCard h3 {
        font-size: 15px;
        background-color: rgb(0, 2, 32);;
        padding: 8px;
        border-radius: 10%;
        text-align: center;
    }
    .dayCard img {
        height: 70px;
    }
    .dayCard p {
        font-size: 30px;
        display: inline;
    }
    .lowestTemp {
        color: rgba(177, 223, 253, 0.856);
        margin-left: 20px;
    }
    #clickableIcon img{
        height: 60px;
    }
    #searcherInput {
        transform: translateY(-36px);
        background: none;
        background-color: rgba(224, 74, 5, 0.479);
        color: white;
        outline: none;
        font-size: 20px;
        position: relative;
        width: 200px;
        padding: 7px;
        border-radius: 5%;
        text-align: center;
    }
    #searcherInput::placeholder {
        color: rgb(255, 255, 255)
    }
    #weatherValue {
        text-align: center;
        font-weight: bold;
    }
}


@media screen and (max-height: 963px) {
    body {
        height: 100vh;
        width: 100vw;
        margin: 0;
        overflow: hidden;
        background-image: url('./images/background_image.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-color: rgba(0, 0, 0, 0.445);
        background-blend-mode: multiply;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: Arial, Helvetica, sans-serif;
        overflow: hidden;
    }
    #application {
        background-image: url('./images/app_background.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        height: 90%;
        width: 70%;
        background-color: rgba(0, 0, 0, 0.151);
        background-blend-mode: multiply;
        box-shadow: 0px 0px 20px black;
        overflow: hidden;
    }

    #screen-top {
        height: 65%;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;    
    }
    #timeAndDay {
        color: white;
        padding-top: 70px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        pointer-events: none;
        user-select: none;
        text-shadow: 0px 0px 15px black;
    }
    #timeAndDay p {
        font-size: 20px;
        text-align: center;
    }
    #hour {
        display: flex;
        align-items: center;
        height: 80px;
    }
    #hour h1 {
        font-size: 80px;
        font-weight: normal;
    }
    #hour p {
        font-size: 30px;
        transform: translateY(15px);
        text-align: center;
    }

    #cityCountry  {
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        user-select: none;
        position: relative;
        background-color: rgba(0, 0, 0, 0.61);
        background-blend-mode: multiply;
        border-radius: 6%;
        padding: 0px 30px;
        overflow: hidden; 
    }
    #cityCountry h1 {
        font-size: 40px;
        font-weight: normal;
        cursor: pointer;
        text-shadow: 0px 0px 15px black;
    }
    #cityCountry p {
        font-size: 23px;
        transform: translateY(-36px);
        text-shadow: 0px 0px 15px black;
    }

    #timeAndDay, #cityCountry {
        transform: translateY(30px);
    }
    #screen-middle {
        height: 35%;
    }
    #screen-bottom {
        background-blend-mode: multiply;
        background-color: rgba(8, 0, 78, 0.726);
        height: 35%;
        display: flex;
    }
    #currentDayInfo {
        color: white;
        flex: 3;
        display: flex;
        justify-content: center;
        align-items: center;
        pointer-events: none;
        user-select: none;
    }
    #weather img {
        max-width: 130px; /* This ensures the image doesn't exceed its original width */
        width: auto; /* Allow the image to shrink if necessary while maintaining aspect ratio */
    }
    #weather {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-right: 60px;
    }
    #info h3 {

        font-size: 20px;
        background-color: rgb(0, 2, 32);;
        padding: 8px;
        border-radius: 10%;
        text-align: center;
        transform: translateY(50px);

    }
    #info p {
        font-size: 60px;
        font-weight: normal;
        text-align: center;
    }
    .dayCard {
        flex: 1;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        pointer-events: none;
        user-select: none;
    }
    .dayCard h3 {
        font-size: 15px;
        background-color: rgb(0, 2, 32);;
        padding: 8px;
        border-radius: 10%;
        text-align: center;
    }
    .dayCard img {
        height: 70px;
    }
    .dayCard p {
        font-size: 30px;
        display: inline;
    }
    .lowestTemp {
        color: rgba(177, 223, 253, 0.856);
        margin-left: 20px;
    }
    #clickableIcon img{
        height: 60px;
    }
    #searcherInput {
        transform: translateY(-36px);
        background: none;
        background-color: rgba(224, 74, 5, 0.479);
        color: white;
        outline: none;
        font-size: 20px;
        position: relative;
        width: 200px;
        padding: 7px;
        border-radius: 5%;
        text-align: center;
    }
    #searcherInput::placeholder {
        color: rgb(255, 255, 255)
    }
    #weatherValue {
        text-align: center;
        font-weight: bold;
    }
}
@media screen and (max-width: 1480px) {
    .dayCard:last-child {
        display: none;
    }
    #weather {
        margin-right: 30px;
    }

}
@media screen and (max-width: 1225px) {
    #application {
        width: 90%;
    }
    
}
@media screen and (max-width: 1038px) {
    #cityCountry  {
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        user-select: none;
        position: relative;
        background-color: rgba(0, 0, 0, 0.61);
        background-blend-mode: multiply;
        border-radius: 6%;
        padding: 0px 30px;
        overflow: hidden; 
    }
    #cityCountry h1 {
        font-size: 30px;
    }
    #cityCountry p {
        font-size: 20px;
    }
    #timeAndDay p {
        font-size: 15px;
    }
    #hour {
        height: 80px;
    }
    #hour h1 {
        font-size: 60px;
        font-weight: normal;
    }
    #hour p {
        font-size: 25px;
    }

    #searcherInput {
        font-size: 20px;
        transform: translateY(-40px);
        width: 190px;
    }
}
@media screen and (max-width: 1010px) {
    .dayCard:nth-last-child(2) {
        display: none;
    }
}

@media screen and (max-width: 898px) {
    #searcherInput {
        font-size: 20px;
        width: 190px;
    }
}
@media screen and (max-width: 876px) {
    #currentDayInfo {
        color: white;
        flex: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        pointer-events: none;
        user-select: none;
    }
}

@media screen and (max-width: 838px) {
    #searcherInput {
        font-size: 20px;
        width: 190px;
    }
}
@media screen and (max-width: 748px) {
    #info h3 {
        font-size: 20px;
        background-color: rgb(0, 2, 32);;
        padding: 8px;
        border-radius: 10%;
        text-align: center;
        transform: translateY(17px);
    }
    #info p {
        font-size: 40px;
        transform: translateY(-20px);
        font-weight: normal;
        text-align: center;
    }
    .lowestTemp {
        margin-left: 10px;
    }
}
@media screen and (max-width: 656px) {
    .lowestTemp {
        margin-left: 5px;
    }
}
@media screen and (max-width: 626px) {
    .dayCard:nth-last-child(3) {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    #currentDayInfo {
        margin: 0;
    }
    #weather {
        margin-right: 10px;
    }
    #application {
        width: 100%;
        height: 100%;
    }
    #timeAndDay, #cityCountry {
        transform: translateY(80px);
    }
    .dayCard, #currentDayInfo {
        transform: translateY(-40px);
    }
    #weatherValue {
        transform: translateY(-10px);
    }
}
@media screen and (max-width: 436px) {
    .dayCard:nth-last-child(4) {
        display: none;
    }
    #weather img {
        max-width: 120px;
    }
    
}
@media screen and (max-width: 370px) {
    #weather img {
        max-width: 120px;
    }
}

@media screen and (max-height: 740px) {
    .dayCard p {
        font-size: 20px;
        transform: translateY(-10px);
        display: inline;
    }
    #weather img {
        max-width: 100px; /* This ensures the image doesn't exceed its original width */
        width: auto; /* Allow the image to shrink if necessary while maintaining aspect ratio */
    }
    #screen-bottom {
        background-blend-mode: multiply;
        background-color: rgba(8, 0, 78, 0.726);
        height: 31%;
        width: 100%;
        bottom: 0px;
        display: flex;
        position: absolute;
    }
    #timeAndDay, #cityCountry {
        transform: translateY(20px);
    }
    #currentDayInfo, .dayCard {
        transform: translateY(-20px);
    }
    #info {
        transform: translateX(15px);
    }
}



@media screen and (max-height: 667px) {
    #timeAndDay, #cityCountry {
        transform: translateY(-20px);
    }
    .dayCard, #currentDayInfo {
        transform: translateY(-10px);
    }
    #info p {
        font-size: 30px;
        transform: translateY(-45px);
        font-weight: normal;
        text-align: center;
    }
    #info h3 {
        transform: translateY(-17px);
    }
}